<html ng-app="app">
	<head>
		<title>My Angular app</title>
		<script src="angular.js"></script>
        <script src="angular-messages.js"></script>
		<style>
            .model {background: #f9f9f9;padding: 25px;margin: 20px 0 0;border: 1px solid #e5e5e5;}
            form .ng-dirty.ng-invalid {
                border: 1px solid red;   
            }
            
            form .ng-valid {
                border: 1px solid green;   
            }
        
        </style>
	</head>
	<body>
		<form
			novalidate
			name="register"
			ng-controller="CheckoutController as checkout"
			ng-submit="checkout.onSubmit();">

			<h4>Checkout</h4>
			<p>Fill in your details to complete your order</p>

			<label>
				Username
				<input
					type="text"
					name="username"
					placeholder="Username"
					ng-model="checkout.details.username"
					required="required">
			</label>
            
<!-- Old method:            
            <div ng-if ="register.username.$touched">
                <div ng-if ="register.username.$error.required">
                    This field is required!!
                </div>
                <div ng-if ="register.username.$error.minlength">
                    Mininum of 2 characters!
                </div>
            </div>-->
            
            <div ng-if = "register.username.$touched" ng-messages = "register.username.$error">
                <div ng-message = "required">This is required</div>
                <div ng-message = "minlength">Mininum of 2 characters!</div>
            </div>

			<label>
				Password
				<input
					placeholder="Password"
					type="password"
					name="password"
					ng-model="checkout.details.password"
					required="required">
			</label>

			<label>
				Coupon
				<input
					placeholder="Coupon"
					type="text"
					name="coupon"
					ng-model="checkout.details.coupon"
					required="required"
					coupon-format>
			</label>
            
             <div ng-if = "register.coupon.$touched" ng-messages = "register.username.$error">
                <div ng-message = "required">This is required</div>
                <div ng-message = "coupon">Invalid Coupon! Please enter chacters followed by an underscore and 2 digits.</div>
            </div>
            
       <!--  Old method:   <div ng-if="register.coupon.$error.coupon">
                Invalid Coupon! Please enter chacters followed by an underscore and 2 digits.
            </div>-->
            
            <pre>{{ register.coupon.$error | json }}</pre>

			<button type="submit">
				Checkout
			</button>